<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<display-name>FCDR REST Service</display-name>
<!-- 
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		/WEB-INF/applicationContext.xml
		/WEB-INF/security-context.xml
	</param-value>
</context-param>

 <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener> 
 <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
</listener> 
 -->



<servlet>
<servlet-name>FCDR REST Service</servlet-name>
<servlet-class>
			org.glassfish.jersey.servlet.ServletContainer
</servlet-class>
<init-param>
	<param-name>
		jersey.config.server.provider.packages
	</param-name>
	<param-value>
		hc.fcdr.rws.service;hc.fcdr.rws.except
	</param-value>

	</init-param>
<init-param>
    <param-name>jersey.config.server.provider.classnames</param-name>
    <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
</init-param>


<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>FCDR REST Service</servlet-name>
<url-pattern>/rest/*</url-pattern>
</servlet-mapping>

<!--
<filter>
	<filter-name>springSecurityFilterChain</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>

<filter-mapping>
  <filter-name>springSecurityFilterChain</filter-name>
  <url-pattern>/rest/*</url-pattern>
</filter-mapping>
  -->
</web-app>